bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/bidcardcoin_WPF_B2/packages.config
.vs
App.config
bidcardcoin_WPF_B2.csproj
/bidcardcoin_WPF_B2/DAL/AuthDAL.cs
/bidcardcoin_WPF_B2/DAO/AuthDAO.cs
/bidcardcoin_WPF_B2/ORM/AuthORM.cs
/UpgradeLog2.htm
/UpgradeLog.htm
/bidcardcoin_WPF_B2/bidcardcoin_WPF_B2.csproj.user
